flow.json
[{"id":"f78b27a0.c3aba8","type":"inject","z":"65c794a9.64353c","name":"","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":235,"y":300,"wires":[["544e4197.483aa"]],"l":false},{"id":"1f21bf1b.bb6851","type":"http request","z":"65c794a9.64353c","name":"bandeiras","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":460,"y":300,"wires":[["c6f2f392.61f9a"]]},{"id":"462b7f5d.bcfbe","type":"http request","z":"65c794a9.64353c","name":"tarifa celesc","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.celesc.com.br/tarifas-de-energia#tributos","tls":"","proxy":"","authType":"basic","x":330,"y":340,"wires":[["ff9ea14d.28fc9"]]},{"id":"ff9ea14d.28fc9","type":"html","z":"65c794a9.64353c","name":"taxas","property":"payload","outproperty":"payload","tag":"#tributos > div > table:nth-child(2)","ret":"html","as":"multi","x":470,"y":340,"wires":[["63a4f5b4.bf498c"]]},{"id":"63a4f5b4.bf498c","type":"function","z":"65c794a9.64353c","name":"valor","func":"var require = global.get('require');\nvar DOMParser = require('xmldom').DOMParser;\nvar moment = require('moment');\nlet parser = new DOMParser();\n\nlet table = parser.parseFromString(\"<table>\" + msg.payload + \"</table>\", \"text/xml\").getElementsByTagName(\"table\")[0];\n\nvar elements = table.lastChild.childNodes;\nlet currentDate = moment().format('MM/YYYY')\n\nvar msgOne = {topic: \"pis\", payload: {}}\nvar msgTwo = {topic: \"confins\", payload: {}}\n\nvar element = elements[3].childNodes\nnode.warn(element[3].textContent.replace(\",\", \".\"))\nnode.warn(element[5].textContent.replace(\",\", \".\"))\nmsgOne.payload = parseFloat(element[3].textContent.replace(\",\", \".\"))\nmsgTwo.payload = parseFloat(element[5].textContent.replace(\",\", \".\"))\n\nflow.set(\"pis\", msgOne.payload);\nflow.set(\"confins\", msgTwo.payload);\n\nreturn [msgOne, msgTwo];","outputs":2,"noerr":0,"x":590,"y":340,"wires":[["4b58c1af.7a5de","6d954dfe.e5d7d4"],["6d954dfe.e5d7d4"]]},{"id":"4b58c1af.7a5de","type":"function","z":"65c794a9.64353c","name":"tarifa atual","func":"let pis = flow.get(\"pis\");\nlet confins = flow.get(\"confins\");\nlet flag = flow.get(\"flag\");\nlet base = 0.46978;\nlet icmsFirst = 12;\nlet icmsSecond = 25;\n\n// (base+flag)/((100-(pis+confins+icms))/100)\n\nmsgOne = {\n    topic: \"home/power/cost1\",\n    payload: (base+flag)/((100-(pis+confins+icmsFirst))/100)\n}\n\nmsgTwo = {\n    topic: \"home/power/cost2\",\n    payload: (base+flag)/((100-(pis+confins+icmsSecond))/100)\n}\n\nreturn [msgOne, msgTwo];","outputs":2,"noerr":0,"x":570,"y":380,"wires":[["c4a889d8.e4aac8"],["c4a889d8.e4aac8"]]},{"id":"c4a889d8.e4aac8","type":"mqtt out","z":"65c794a9.64353c","name":"","topic":"","qos":"1","retain":"true","broker":"","x":710,"y":380,"wires":[]},{"id":"5ba8c3a9.55ef5c","type":"debug","z":"65c794a9.64353c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":675,"y":300,"wires":[],"l":false},{"id":"544e4197.483aa","type":"function","z":"65c794a9.64353c","name":"url","func":"var url = \"https://apidosetoreletrico.com.br/api/energy-providers/tariff-flags?monthStart=\"\nvar date = new Date();\nvar firstDay = new Date(date.getFullYear(), date.getMonth(), 1).toISOString().split(\"T\")[0];\nvar lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0).toISOString().split(\"T\")[0];\nmsg.url = url + firstDay + \"&monthEnd=\" + lastDay\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":300,"wires":[["1f21bf1b.bb6851"]]},{"id":"c6f2f392.61f9a","type":"function","z":"65c794a9.64353c","name":"valor","func":"var value = msg.payload.items[0].value\nflow.set(\"flag\", value);\n\nmsg.topic = \"flag\"\nmsg.payload = value\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["5ba8c3a9.55ef5c","462b7f5d.bcfbe"]]},{"id":"6d954dfe.e5d7d4","type":"debug","z":"65c794a9.64353c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":675,"y":340,"wires":[],"l":false}]
