flow.json
[{"id":"9a4808ae.183888","type":"inject","z":"98068bd9.c4b498","name":"every 2 hours","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":240,"wires":[["e14e7960.ab52f8"]]},{"id":"e14e7960.ab52f8","type":"function","z":"98068bd9.c4b498","name":"url","func":"var url = \"https://apidosetoreletrico.com.br/api/energy-providers/tariff-flags?monthStart=\"\nvar date = new Date();\nvar firstDay = new Date(date.getFullYear(), date.getMonth(), 1).toISOString().split(\"T\")[0];\nvar lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0).toISOString().split(\"T\")[0];\nmsg.url = url + firstDay + \"&monthEnd=\" + lastDay\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[["65ef0e3e.6c958"]]},{"id":"65ef0e3e.6c958","type":"http request","z":"98068bd9.c4b498","name":"bandeiras","method":"GET","ret":"obj","paytoqs":false,"url":"","tls":"","proxy":"","authType":"","x":500,"y":240,"wires":[["12f430c.1bbcecf"]]},{"id":"12f430c.1bbcecf","type":"function","z":"98068bd9.c4b498","name":"valor","func":"var value = msg.payload.items[0].value\nflow.set(\"flag\", value);\n\nmsg.topic = \"flag\"\nmsg.payload = value\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":240,"wires":[["273b6ce.651f794","8a4fa712.9c5748","754c31f.c9d92d"]]},{"id":"273b6ce.651f794","type":"debug","z":"98068bd9.c4b498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":715,"y":240,"wires":[],"l":false},{"id":"8a4fa712.9c5748","type":"http request","z":"98068bd9.c4b498","name":"tarifa celesc","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.celesc.com.br/tarifas-de-energia#tributos","tls":"","proxy":"","authType":"basic","x":370,"y":280,"wires":[["29199f48.dc61f"]]},{"id":"754c31f.c9d92d","type":"mqtt out","z":"98068bd9.c4b498","name":"save Flag","topic":"home/power/flag","qos":"1","retain":"true","broker":"","x":840,"y":240,"wires":[]},{"id":"29199f48.dc61f","type":"html","z":"98068bd9.c4b498","name":"taxas","property":"payload","outproperty":"payload","tag":"#tributos > div > table:nth-child(2)","ret":"html","as":"multi","x":510,"y":280,"wires":[["bbe88d2b.8fa41"]]},{"id":"bbe88d2b.8fa41","type":"function","z":"98068bd9.c4b498","name":"valor","func":"var require = global.get('require');\nvar DOMParser = require('xmldom').DOMParser;\nvar moment = require('moment');\nlet parser = new DOMParser();\n\nlet table = parser.parseFromString(\"<table>\" + msg.payload + \"</table>\", \"text/xml\").getElementsByTagName(\"table\")[0];\n\nvar elements = table.lastChild.childNodes;\nlet currentDate = moment().format('MM/YYYY')\n\nvar msgOne = {topic: \"pis\", payload: {}}\nvar msgTwo = {topic: \"confins\", payload: {}}\n\nvar element = elements[3].childNodes\nnode.warn(element[3].textContent.replace(\",\", \".\"))\nnode.warn(element[5].textContent.replace(\",\", \".\"))\nmsgOne.payload = parseFloat(element[3].textContent.replace(\",\", \".\"))\nmsgTwo.payload = parseFloat(element[5].textContent.replace(\",\", \".\"))\n\nflow.set(\"pis\", msgOne.payload);\nflow.set(\"confins\", msgTwo.payload);\n\nreturn [msgOne, msgTwo];","outputs":2,"noerr":0,"x":630,"y":280,"wires":[["b505fc50.3448f","ab6de74b.55b4f8","27b35874.8ee578"],["ab6de74b.55b4f8","eee518c4.88de18"]],"outputLabels":["pis","confins"]},{"id":"b505fc50.3448f","type":"function","z":"98068bd9.c4b498","name":"tarifa atual","func":"let pis = flow.get(\"pis\");\nlet confins = flow.get(\"confins\");\nlet flag = flow.get(\"flag\");\nlet base = 0.46978;\nlet icmsFirst = 12;\nlet icmsSecond = 25;\n\n// (base+flag)/((100-(pis+confins+icms))/100)\n\nmsgOne = {\n    topic: \"home/power/cost1\",\n    payload: (base+flag)/((100-(pis+confins+icmsFirst))/100)\n}\n\nmsgTwo = {\n    topic: \"home/power/cost2\",\n    payload: (base+flag)/((100-(pis+confins+icmsSecond))/100)\n}\n\nreturn [msgOne, msgTwo];","outputs":2,"noerr":0,"x":610,"y":320,"wires":[["420a6317.7683fc"],["420a6317.7683fc"]]},{"id":"ab6de74b.55b4f8","type":"debug","z":"98068bd9.c4b498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":715,"y":280,"wires":[],"l":false},{"id":"27b35874.8ee578","type":"mqtt out","z":"98068bd9.c4b498","name":"save PIS","topic":"home/power/pis","qos":"1","retain":"true","broker":"","x":840,"y":280,"wires":[]},{"id":"eee518c4.88de18","type":"mqtt out","z":"98068bd9.c4b498","name":"save CONFINS","topic":"home/power/confins","qos":"1","retain":"true","broker":"","x":860,"y":320,"wires":[]},{"id":"420a6317.7683fc","type":"mqtt out","z":"98068bd9.c4b498","name":"","topic":"","qos":"1","retain":"true","broker":"","x":830,"y":360,"wires":[]}]
